@import "tailwindcss";

th {
    @apply text-[.9rem];
}

td input,
td {
    @apply text-[.8rem];
}

.btn {
    @apply text-sm outline-0 border-0 p-2 rounded-md font-bold text-center bg-stone-900 text-white hover:bg-stone-800 transition;
}

.btn-danger {
    @apply bg-red-600 hover:bg-red-500;
}
