#data-table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
}

#data-table th,
#data-table td {
    border: 1px solid black;
    padding: 3px 5px;
    text-align: left;
}

#data-table th:first-child,
#data-table td:first-child {
    width: 1.5rem;
}

#data-table input {
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
}
